.intro
{
	color: blue;
}

.intro
{
	font-size: 2em;
}

.intro
{
	font-family: arial;
}

p, h1, h2, h3, h4
{
	font-size: 2em;
}

@font-face {
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('cac_champagne-webfont.woff2') format('woff2'),
         url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype'),
         url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: bolder;
    font-style: bold;

}

h1, h2, h3, h4, p
{
	font-family: 'cac_champagneregular', Arial;
	text-decoration: underline;
	text-align : center;
	color: rgb(250,250,250);
}

body 
{
	background-image: url(ph.jpg);
	background-attachment: fixed;
	background-size: 1450px;
	color: white;
	border: ;
}



